# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/
ENV/

# Large Datasets & Raw Data
raw_data/
raw_dataset/
*.csv
!cleaned_dataset/*.csv
!cleaned_dataset/*.json

# IDE & OS configuration files
.vscode/
.idea/
.DS_Store
Thumbs.db
